@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  position: relative;
  z-index: 1;
}

html, body {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-margin-top: 60px;
}
